In [1]:
import pandas as pd

In [8]:
#Retrieve vine_table.csv
df1 = pd.read_csv('vine_table.csv')
df1.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RAB23OVFNCXZQ,1.0,0.0,0.0,N,Y
1,R3NORADVJO6IE6,5.0,0.0,0.0,N,Y
2,R299F4SO98S5OO,5.0,1.0,1.0,N,Y
3,R2DA9DOT03UW6I,5.0,2.0,3.0,N,Y
4,R2OGCH681EQHU6,5.0,0.0,0.0,N,Y

In [13]:
#filter down to reviews with more than 20 votes
df2 = df1.loc[df1['total_votes']>=20]
df2.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
487,R1T4FVSABO0IDP,5.0,8.0,31.0,N,Y
613,R397VXR1GAK6C9,5.0,21.0,21.0,N,Y
1058,R2H6KB9RHS17GA,3.0,59.0,69.0,N,Y
1097,R3HAK0MUN9F5IT,1.0,6.0,28.0,N,Y
1373,R29UTZTOPUVRSV,5.0,21.0,21.0,N,Y

In [19]:
#Filter down again to reviews with at least half marked as helpful
df3 = df2[df2.helpful_votes/df2.total_votes >=.5]
df3.tail()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
3514924,R1B4VY89QJI9YM,4.0,61.0,69.0,N,N
3514928,R3EOKOI381VNAD,5.0,28.0,31.0,N,N
3514935,R2X2OT2N2L6VTH,1.0,33.0,36.0,N,N
3514939,R3SPUAB0NVAB0O,5.0,17.0,20.0,N,N
3514940,R2O7ALEKWVTK9N,2.0,20.0,23.0,N,N

In [47]:
#Make df for reviews part of the 'vine' program and count them
df_vine_Y = df3[df3.vine == 'Y']
df_Y_count = len(df_vine_Y)
print(f'There is a total of {df_Y_count} reviews in the paid (vine) program.')

There is a total of 82 reviews in the paid (vine) program.

In [67]:
#Determine number of 5 star reviews for "vine" program
five_star_Y = df_vine_Y[df_vine_Y.star_rating == 5]
five_star_Y_count = len(five_star_Y)
print(f'There are {five_star_Y_count} five star reviews in the paid (vine) program.')

There are 33 five star reviews in the paid (vine) program.

In [68]:
#Determine the percentage of 5 star reviews for the "vine" program
Y_percent = (five_star_Y_count/df_Y_count)
print(f'Of the total paid reviews {Y_percent:.2%} are five star rated.')

Of the total paid reviews 40.24% are five star rated.

In [48]:
#Make df for reviews NOT part of the 'vine' program and count them
df_vine_N = df3[df3.vine == 'N']
df_N_count = len(df_vine_N)
print(f'There is a total of {df_N_count:,d} unpaid reviews.')

There is a total of 24,742 unpaid reviews.

In [71]:
#Determine number of 5 star reviews for the unpaid program
five_star_N = df_vine_N[df_vine_N.star_rating == 5]
five_star_N_count = len(five_star_N)
print(f'There are {five_star_N_count:,d} five star reviews in the unpaid program.')

There are 12,807 five star reviews in the unpaid program.

In [72]:
#Determine the percentage of 5 star reviews for the unpaid program
N_percent = (five_star_N_count/df_N_count)
print(f'Of the total unpaid reviews {N_percent:.2%} are five star rated.')

Of the total unpaid reviews 51.76% are five star rated.